@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #040612;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-app {
  background-color: #040612;
}

.transition-height {
  transition: height 0.3s ease-in-out;
  overflow: hidden; /* 子要素がはみ出さないようにする */
}

.chart-tab {
  color: gainsboro;
  font-weight: 100;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.375rem;
  padding: 4px 0px;
  margin: 0px 1px;
  text-align: center;
  transition: background-color 0.5s ease, transform 0.2s ease; /* transformのアニメーションを追加 */
}

.chart-tab:hover {
  background-color: #bfdbfe20;
}

.chart-tab:active {
  background-color: #bfdbfe20;
  transform: scale(0.95); /* scaleを追加 */
}

.chart-tab-selected {
  color: white;
  background-color: #bfdbfe10;
}

.transition-brightness {
  transition-property: transform, filter; /* transformとfilterを指定 */
  transition-duration: 0.7s; /* 0.7秒のアニメーション */
}
